/* layout */
body {
	background-color: #7C6255;
	font-family: Helvetica, Verdana, Arial, DFHeiStd-W5, HiraKakuPro-W3, LiHei Pro, Microsoft JhengHei;
}

#content {
	background-color: #FFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
	margin-top: -10px;
}

#session_bar {
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	margin-bottom: 10px;
}

#header-title {
	font-size: 18px;
}

#header-title ul {
	list-style: none;
	height: 70px;
}

#header-title ul li {
	float: left;
	border-left: 1px solid #FFF;
	border-top: 1px solid #FFF;
	border-right: 1px solid #FFF;
	background-color: #222;
	padding: 5px;
	padding-top: 60px;
	margin-left: -1px;
}

#header-title ul li a {
	color: #fff;	
}

#header-title ul li:hover {
	background-color: #444;
}

.menu-current {
	background-color: #FFF !important;
}

.menu-current a {
	color: #000 !important;
}

.menu-backstage {
	background-color: #73000E !important;
}

.menu-backstage:hover {
	background-color: #920011 !important;
}

.menu-backstage-current {
	background-color: #FFF !important;
}

.menu-backstage-current a {
	color: #F00 !important;
}

#header-title ul li a {
	display: block;
}

#footer {
	margin: 5px;
	text-align: center;
	color: #FFF;
	word-spacing: 4px;
	font-family: Helvetica;
}

/* admin css */
.admin-title {
	display: block;
	margin: 0;
	padding: 2px;
	background-color: #C17436;
	color: #FFF;
	font-size: 2em;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.admin-menu {
	margin: 0;
	padding: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 1.75em;	
}

.admin-menu a {
	display: block;
	padding: 2px;
}

.admin-menu .arrow {
	float: right;
}

.admin-menu a:hover {
	display: block;
	background-color: #000099;
	color: #FFF;
	text-decoration: none;
}