/* layout */
body {
	background-color: #7C6255;
	font-family: Helvetica, Verdana, Arial, DFHeiStd-W5, HiraKakuPro-W3, LiHei Pro, Microsoft JhengHei;
	font-size: 11pt;
}

h1 {
	margin-top: 5px;
	border-bottom: 1px solid #CCC;
}

h2 {
	margin: 0;
}

#content {
	background-color: #FFF;
	padding: 10px;
	margin-top: -10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#session_bar {
	border-bottom: 1px solid #DDD;
	padding-bottom: 2px;
	padding-top: 5px;
	margin-bottom: 10px;
}

#header-title {
	font-size: 18px;
}

#header-title ul {
	list-style: none;
	height: 70px;
}

#header-title ul li {
	float: left;
	border-left: 2px solid #FFF;
	border-top: 2px solid #FFF;
	border-right: 1px solid #FFF;
	background-color: #222;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#222));
	padding: 5px;
	padding-top: 60px;
	margin-left: -1px;
}

#header-title ul li a {
	color: #fff;	
}

#header-title ul li:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#444));
	background-color: #444;
}

.menu-current {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#AAA), to(#FFF)) !important;
	background-color: #FFF !important;
}

.menu-current a {
	color: #000 !important;
}

.menu-backstage {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C30017), to(#73000E)) !important;
	background-color: #73000E !important;
}

.menu-backstage:hover {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF001D), to(#B20014)) !important;
	background-color: #920011 !important;
}

.menu-backstage-current {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#FF001D), to(#FFF), color-stop(0.8, #FFF)) !important;
	background-color: #FFF !important;
}

.menu-backstage-current a {
	color: #F00 !important;
}

#header-title ul li a {
	display: block;
}

#footer {
	margin: 5px;
	text-align: center;
	color: #FFF;
	word-spacing: 4px;
	font-family: Helvetica;
}

/* admin css */
.admin-title {
	display: block;
	margin: 0;
	padding: 2px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C17436), to(#A9652F));
	background-color: #C17436;
	color: #FFF;
	font-size: 2em;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}

.admin-menu {
	margin: 0;
	padding: 0;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	font-size: 1.75em;	
}

.admin-menu a {
	display: block;
	padding: 2px;
}

.admin-menu .arrow {
	float: right;
	display: none;
}

.admin-menu a:hover {
	display: block;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0000FF), to(#000099)) !important;
	background-color: #000099;
	color: #FFF;
	text-decoration: none;
}

.table {
	font-size: 1.25em;
	border-bottom: 1px solid #000;
}

.table .thead {
	border-top: 1px solid #000;
	font-size: 1.25em;
	border-bottom: 1px dashed #000;
}

.table .tbody {
	border-top: 1px dashed #000;
	margin-top: -1px;
}

.table .tbody .container div {
	line-height: 30px;
}

.table .tbody .container p.clearfix {
	margin: 0px;
}

.table .tbody .container a.button {
	margin-top: 2px;
}

form input {
	font-size: 22pt;
}

form input[type="file"] {
	font-size: 1em !important;
}

form textarea {
	font-size: 18pt;
}

/* blog front */
.blog-date {
	display: block;
	margin: 0;
	padding: 2px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background-color: #000;
	color: #FFF;
	letter-spacing: 0.3em;
}

.blog-title {
	font-size: 2em;
	color: rgb(99, 60, 17);
	margin: 0px;
}

.blog-content {
	margin-left: 10px;
	text-indent: 2em;
}

/* sidebar */
#sidebar {
  	width: 230px;
  	height: 600px;
  	background: url('../images/bkg_blackboard.jpg') repeat-y;
  	color: white;
	padding: 10px;
  	padding-right: 35px;
  	margin-left: -10px;
  	-webkit-box-shadow: 0px 3px 5px black;
  	-moz-box-shadow: 0px 3px 5px black;
  	position: relative;
  	float: left;
}

#sidebar {     /* Damn IE fix */
  	height: auto;
  	min-height: 600px;
}

#sidebar #metal_holder {
  	width: 68px;
  	height: 213px;
  	background: url('../images/img_blackboard_holder.png') no-repeat;
  	position: absolute;
  	top: 200px;
  	left: 240px;
}

#sidebar h1 {
	color: #FFF;
	border: none;
}

/* pagination */
.pagination {
    margin: 5px;
	font-size: 1.2em;
}

.pagination * {
	padding: 2px;
}

.pagination a {
	border: 1px solid #00F;
}

.pagination a:hover {
	border: 1px solid #00F;
	background-color: #00A;
	color: #FFF;
}

.pagination span.current {
	border: 1px solid #00E;
	background-color: #00F;
	color: #FFF;
}

/* filter css */
.filter-title {
	display: block;
	margin: 0;
	padding: 2px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0D0099), to(#3D4C99));
	background-color: #C17436;
	color: #FFF;
	font-size: 1.3em;
	border: 3px solid #333;
}

.filter-title input {
	font-size: 1.2em;
}

/* book admin */
.book-cover img {
	margin: 2px;
	border: 1px solid #000;
	width: 80px;
}

/* book circulation */
.mode-selector {
	display: inline;
	padding: 2px;
	margin-right: 2px;
	background-color: #00A;
	border: 2px solid #FF0;
}

.mode-selector a {
	color: #FFF;
}