<div class="bkgwhite">
	<div class="container">
		<div class="span-11">
			<p class="admin-title">圖書管理</p>
			<div class="admin-menu">
				<a href="#">搜尋/維護館藏<span class="arrow">&raquo;</span></a>
				<a href="#">新增館藏<span class="arrow">&raquo;</span></a>
			</div>
		</div>
		<div class="span-12 last">
			<p class="admin-title">館藏流通</p>
			<div class="admin-menu">
				<a href="#">借閱/還書介面<span class="arrow">&raquo;</span></a>
				<a href="#">列出逾期書籍<span class="arrow">&raquo;</span></a>
			</div>
		</div>
	</div>

	<div class="container" style="margin-top: 10px;">
		<div class="span-11">
			<p class="admin-title">讀者資料</p>
			<div class="admin-menu">
				<a href="#">讀者資料查詢/維護<span class="arrow">&raquo;</span></a>
				<a href="#">(大批)新增讀者<span class="arrow">&raquo;</span></a>
			</div>
		</div>
		<div class="span-12 last">
			<p class="admin-title">公告及其他</p>
			<div class="admin-menu">
				<a href="/news/admin">公告管理<span class="arrow">&raquo;</span></a>
				<a href="#">工作人員權限管理<span class="arrow">&raquo;</span></a>
			</div>
		</div>
	</div>
</div>